.main{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom, #f7e1e1 50%, #B9ABAB 100%);
}

.panel {
  background-color: white;
  margin: 1em 0 1em 0;
  padding: 1em 0 1em 0;

  width: 80%;

  border-radius: 20px;
}

.std.text {
  margin: 0.3em 0 0 0;
}

.std.title1 {
  font-size: xx-large;
  font-weight: 700;
}

.std.title2 {
  font-size: x-large;
  font-weight: 500;
}

.std.title3 {
  font-size: larger;
  font-weight: 500;
}

.std.accent-bold {
  font-weight: 600;
}

.std.accent-italic {
  font-style: italic;
}