body {
    background-color: #160f29;
    color: #f7f7f2;
    font-family: "Montserrat", sans-serif;
    margin: 20px;
}

.container {
    max-width: 64%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    transition: left 0.3s ease-in-out;
}
.menu-open {
    margin-left: 12%;
}

h1 {
    font-size: 64px;
    margin: 48px 0;
    font-weight: bold;
}
h2 {
    font-size: 48px;
    margin: 24px 0;
    font-weight: 650;
}
h3 {
    font-size: 32px;
    margin: 24px 0;
    font-weight: 650;
}
h4 {
    font-size: 24px;
    color: #160f29;
    margin: 24px 0;
    font-weight: normal;
}
p {
    margin: 8px 0;
    line-height: 1.6;
    font-weight: 300;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.menu {
    position: fixed;
    top: 20%;
    left: -12%;
    width: 12%;
    height: 100%;
    background-color: #f6e7cf;
    transition: left 0.3s ease-in-out;
    border-top-right-radius: 20px;
    backdrop-filter: blur(20%);
}
.menu.active {
    left: 0;
}
.menu-icon {
    position: fixed;
    top: 3%;
    left: 3%;
    color: #fff;
    font-size: 48px;
    cursor: pointer;
    z-index: 999;
}
#animation-container-1,
#animation-container-2 {
    width: 80%;
    margin: 0 auto; /* Centrage horizontal */
}
