h1 {
font-size: 64px;
margin-top: 32px;
margin-bottom: 32px;
font-weight: bold;
}

h2 {
font-size: 48px;
margin: 24px 0;
font-weight: 650;
}

h3 {
font-size: 32px;
margin-top:40px;
margin-bottom: 10px;
font-weight: 650;
}

h4 {
font-size: 16px;
color: #160f29;
margin: 24px 0;
font-weight: normal;
}

p {
margin: 1rem 0;
line-height: 1.6;
font-weight: 300;
text-align: justify;
}

img {
max-width: 100%;
height: auto;
display: block;
align-self: center;
}

legend {
line-height: 1.2;
font-weight: 150;
font-style: italic;
text-align : center;
margin: 1rem 0;
}
