nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
}


/* Only stick if you can fit */
@media (min-height: 300px) {
      nav ul {
            position: sticky;
            top: 0;
      }
}
nav ul li a {
      display: block;
      padding: 1rem 2rem;
      color: #160f29;
      text-decoration: none;
}
nav ul li a.current {
      background:  #fff7ea;
}

nav ul label {
      padding: 0.5rem 1rem;
}

.options input[type="radio"] {
      display: none;    
}

.options {
      flex-direction: column;
      padding-top: 2rem;
}

.options label {
      display: flex;
      cursor: pointer;
}

.temperature-option {
      align-items: center;
}  

.circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 0 8% 0 16%; 
      border: 1px solid #7b7770;
}

.temperature-option h4 {
      margin: 8% 0%; 
}

.green {
      background-color: #7AC83D;
}
.yellow {
      background-color: #f0c427;
}
.orange {
      background-color: #ec933f;
}
.red {
      background-color: #e74a4a;
}

.options input[type="radio"]:checked + .circle {
      border: 2px solid #160f29;
}

#evolution_container_11 {
      display: block;
}

#evolution_container_12,
#evolution_container_13,
#evolution_container_14,
#evolution_container_21,
#evolution_container_22,
#evolution_container_23,
#evolution_container_24,
#evolution_container_31,
#evolution_container_32,
#evolution_container_33,
#evolution_container_34{
      display: none;
}
  
