nav {
      white-space: nowrap;
      background: rgba(255, 220, 195, 0.900);
}
nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
}
/* Only stick if you can fit */
@media (min-height: 300px) {
      nav ul {
            position: sticky;
            top: 0;
      }
}
nav ul li a {
      display: block;
      padding: 1rem 2rem;
      color: #160f29;
      text-decoration: none;
}
nav ul li a.current {
      background: #f6e7cf;
}

nav ul label {
      padding: 0.5rem 1rem;
}

.options input[type="radio"] {
      display: none;    
}

.options {
      flex-direction: column;
      padding-top: 2rem;
}

.options label {
      display: flex;
      cursor: pointer;
}

.temperature-option {
      align-items: center;
}  

.circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 0 8% 0 16%; 
      border: 1px solid #f6e7cf;
}

.temperature-option h4 {
      margin: 8% 0%; 
}

.green {
      background-color: #7AC83D;
}
.yellow {
      background-color: #f0c427;
}
.orange {
      background-color: #ec933f;
}
.red {
      background-color: #e74a4a;
}

.options input[type="radio"]:checked + .circle {
      border: 2px solid #160f29;
}

#evolutionContainer1 {
      display: block;
}
#evolutionContainer2,
#evolutionContainer3,
#evolutionContainer4 {
      display: none;
}
  

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 576px) {

}