/* Style des onglets */
.tab {
    overflow: hidden;
    border: 1px solid #f7f7f2;
    background-color: #52708d;
  }
  
  .tab a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab a:hover {
    background-color: #a9c4de;
  }
  
  /* Style des contenus des onglets */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #f7f7f2;
    border-top: none;
  }

  #glacier1
  {
    display: block;
  }
  